<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Connection.String" value="Data Source=FMIC00106\SQL2014FULL;Initial Catalog=Prod2;Persist Security Info=True;MultipleActiveResultSets=true;User ID=sa;Password=dat@1234;Connection Timeout=300;pooling='true';Max Pool Size=600"></add>
    <add key="Backup.Folder.Full.Path" value="C:\Backup"></add>
    <add key="Database.Name.To.Backup" value="NextRelease"></add>
  </appSettings>
</configuration>